<%
  const loginPropsJson = JSON.stringify({
    message: typeof message !== 'undefined' && message ? message : null,
    justRegistered: typeof justRegistered !== 'undefined' && !!justRegistered,
  }).replace(/</g, '\\u003c');
%>
<%-
  include('layout', {
    title: 'Login',
    isAuthPage: true,
    body:
      '<script type="application/json" id="login-props">' +
      loginPropsJson +
      '</script>' +
      '<div id="login-react-root" class="login-react-mount"></div>' +
      '<link rel="stylesheet" href="/dist/login/assets/main.css" />' +
      '<script type="module" src="/dist/login/assets/main.js"></script>',
  })
%>
